
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  white-space:nowrap;
  div{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
}

.content {
  background-color: #fff !important;
}
.header {
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
}

.breadcrumb{
  padding: 15px 0px;
  //border: 1px solid #000;
}