.HelloWorld a {
  color: #0074a6;
}

.HelloWorld label {
  margin: 0 0.5em;
  font-weight: bold;
}

.HelloWorld code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
