.main {
  /*text-align: center;*/
  color: #2c3e50;
}

.main p {
  margin: 16px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}


.site-layout-background {
  background-color: #fff !important;
}